* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 500;
    color: #fff;
}

.home-page-container {
    background-image: url("../assets/images/HomeScreen.jpg");
    width: 100%;
    max-height: 850px;
    height: 100%;
    padding: 30px 100px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 700;
}

header h1 span {
    font-weight: 700;
    color: #ff8d41;
}

nav ul {
    display: inline-flex;
    list-style-type: none;
    text-decoration: none;
}

nav ul li {
    margin: auto 24px;
}

button {
    background-color: transparent;
}

.logout {
    border-color: transparent;
    font-size: 1rem;
}

.welcome-section {
    width: 37%;
    margin-top: 250px;
}

.welcome-section .wrapper p {
    font-size: 3.5rem;
    font-weight: 700;
}

.welcome-section .wrapper .greeting {
    font-size: 1rem;
    font-weight: 500;
}

.welcome-section .wrapper p span {
    font-weight: 700;
    color: #ff8d41;
}

.welcome-section .description {
    font-size: 0.9rem;
    font-weight: 500;
}

.description,
.button-container {
    margin-top: 20px;
}

.button-container button {
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 0.9em;
    margin-right: 10px;
    color: #fff;
    border: 1px solid #fff;
}

.button-container button:hover {
    background-color: #ff8d41;
    border: 1px solid #ff8d41;
    cursor: grab;
}

/* #################################### about-us #################################### */
.about-us .container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.about-us .container .heading {
    color: #616161;
    margin: 0 5px;
}

.about-us-wrapper .flex-container {
    display: flex;
    width: 100%;
    margin-top: 100px;
    align-items: center;
    justify-content: space-evenly;
}

.flex-container .info-container {
    width: 600px;
}

.about-us-wrapper .flex-container .info-container h2 {
    font-weight: 700;
    color: #424242;
    font-size: 2rem;
}

.about-us-wrapper .flex-container h2 span {
    font-size: 2rem;
    font-weight: 700;
    color: #ff8d41;
}

.about-us-wrapper .flex-container img {
    outline: 1px solid #e0e0e0;
    outline-offset: 10px;
    border-radius: 30px;
}

.info-container p {
    margin-top: 20px;
}

.about-us-wrapper .flex-container .info-container .first-paragraph {
    color: #424242;
    font-weight: 400;
}

.about-us-wrapper .flex-container .info-container .second-paragraph {
    color: #9e9e9e;
    font-weight: 400;
    font-size: 1rem;
}

.read-more {
    margin-top: 20px;
    border: 1px solid #ff8d41;
    color: #ff8d41;
    padding: 5px 15px;
    border-radius: 10px;
}

.read-more:hover {
    background-color: #ff8d41;
    color: #fff;
}

.hotel-stats {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: #ff8d41;
    margin-top: 100px;
}

.stats-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.stats {
    font-weight: 700;
    font-size: 2rem;
    margin: auto;
}

.stats-name {
    margin: auto;
    font-weight: 400;
}

/* #################################### explore-our-rooms #################################### */

.our-rooms .wrapper {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.our-rooms .wrapper span {
    color: #616161;
    margin: auto 5px;
}


.our-rooms h2{
    color: #424242;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 20px auto;
}

.our-rooms h2 span {
    color: #ff8d41;
    font-weight: 700;
}

.our-rooms .flex-container {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 30px;
}

.our-rooms .suite-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e0e0e0;
}

.suite-name {
    color: #424242;
    margin-top: 20px;
    margin-bottom: 5px;
}

.suite-price {
    color: #757575;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.our-services .wrapper {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.our-services .wrapper span {
    color: #616161;
    margin: auto 5px;
}


.our-services h2{
    color: #424242;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 20px auto;
}

.our-services h2 span {
    color: #ff8d41;
    font-weight: 700;
}

.services {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    justify-content: space-evenly;
}

.service-name {
    font-weight: 700;
    color: #424242;
    margin: 10px 0;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eee;
    padding: 60px 30px;
}

.service-card:hover {
    background-color: #ff8d41;
    transition-duration: 0.3s;
    .service-name,
    .service-description {
        color: #fff;
    }

    svg path {
        fill: #fff;
    }
}

.service-description {
    color: #757575;
    font-weight: 300;
    font-size: 0.9rem;
}

.testimonial .wrapper {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.testimonial .wrapper span {
    color: #616161;
    margin: auto 5px;
}

.testimonial h2{
    color: #424242;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 20px auto;
}

.testimonial h2 span {
    color: #ff8d41;
    font-weight: 700;
}

.testimonial-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30ch;
}

.testimonial-card img {
    width: 10%;
}

.testimonial-card .testimony {
    color: #757575;
    margin: 30px 0;
    font-size: 1rem;
    text-align: center;
}

.testimonial .user {
    color: #424242;
    font-weight: 500;
}

.testimonial .user-mail {
    color: #9e9e9e;
    font-weight: 300;
    font-size: 0.9rem;
}

.quick-links .quick-links-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    margin-bottom: 200px;
}

.quick-links-container .container h4 {
    font-weight: 700;
    color: #424242;
    font-size: 1.5rem;
}

.quick-links-container .container h4 span {
    font-weight: 700;
    color: #ff8d41;
    font-size: 1.5rem;
}

.quick-links-container .container p {
    color: #9e9e9e; 
    font-weight: 300;
    width: 30ch;
    margin: 10px 0;
    font-size: 0.9rem;
}

.quick-links-container .container ul {
    list-style: none;
}

.quick-links-container .container ul h6 {
    color: #424242;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 15px;
}

.quick-links-container .container ul li {
    color: #9e9e9e;
    font-weight: 300;
    font-size: 0.9rem;
    margin: 5px;
}
